@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <form asp-controller="Home" asp-action="CreateAudio" method="post" enctype="multipart/form-data">

    </form>
    <h1>Good</h1>
</div>