@{
    var clientIdentifier = "3dc1bb3515be9b3683851a3de5ffa83b872b52fd";
    var clientSecret = "fgglthuzk5arXyFzTLswL9MljkTNkS571PLXPeToCDDfP8UdoKCb/vOx07pu9gXdJ2Bz/ubEHxj4VqID3lRq2vrfSJL06S6Wezc0UrMM5vmguwit3bOegHebgBQjEvfm";
}

@* <div>
    <video id="videoPlayer" width="640" height="360" controls>
        <source src="~/Videos/@Model.FileName" type="video/mp4">
        @* <track label="English" kind="subtitles" srclang="en" src="path/to/your/subtitle.vtt" default>
        <!-- Add more <track> elements for additional subtitle languages if needed -->
        Your browser does not support the video tag.
    </video>
</div>
*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Subtitle Editor</title>
    <link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet">
    <script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/subtitlejs/0.1.1/subtitle.js"></script>
    <style>
        #subtitleContainer {
            position: relative;
            width: 789px;
            height: 444px;
        }

        #subtitleTrack {
            position: absolute;
            bottom: 10px;
            width: 100%;
            color: white;
            background: rgba(0, 0, 0, 0.5);
            text-align: center;
            padding: 5px;
        }
    </style>
    <script src="https://player.vimeo.com/api/player.js"></script>
</head>
<body>
    <div id="subtitleContainer">
        <iframe src="https://player.vimeo.com/video/990565046?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="789" height="444" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="Test"></iframe>
        @* <iframe src="https://vimeo.com/990565046" width="789"
        height="444"
        frameborder="0"
        webkitallowfullscreen
        mozallowfullscreen
        allowfullscreen></iframe> *@
        @* <iframe width="789" height="444" src="https://www.youtube.com/embed/1fTb6746zoE"
                title="A-Train Saves The Boys from Black Noir and The Deep | The Boys | Prime Video"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen>
        </iframe> *@
        <input id="client-identifier" hidden value="@clientIdentifier"/>
        <input id="client-secret" hidden value="@clientSecret"/>
        <div id="subtitleTrack"></div>
        <button onclick="getSeconds()">Get seconds</button>
        <button class="mt-3" onclick="getVimeoURI(990565046)">Get Video URI</button>
        <button class="mt-3" onclick="getAccessToken()">Get Access Token</button>
        <button class="mt-3" onclick="getSubtitleUpload()">Get Subtitle Upload Link</button>
    </div>
    @section scripts {
        <script>
            var textTrack = "";
            var accessToken = "0bdb22134b168497f1f3ba85fe2beab5";
            var iframe = document.querySelector('iframe');
            var player = new Vimeo.Player(iframe);
            player.setVolume(0).then(() => {

            })

            player.on('play', function () {
                loadSubtitles('/Subtitles/Sub1.vtt');
                console.log('Played the video');
            });

            player.getVideoTitle().then(function (title) {
                // console.log('title:', title);
            });

            const getSeconds = () => {
                player.getCurrentTime().then((seconds) => {
                    console.log(seconds);
                })
            }

            function loadSubtitles(subtitleUrl) {
                fetch(subtitleUrl)
                    .then(response => response.text())
                    .then(text => {
                        var cues = parseVTT(text);
                        displaySubtitles(cues);
                    })
                    .catch((err) => {
                        console.log("error", err);
                    });
            }
            
            function getVimeoURI(videoId) {
                fetch(`https://api.vimeo.com/videos/${videoId}`, {
                    method: "GET",
                    headers: {
                        "Authorization": `bearer ${accessToken}`,
                        "Accept": "application/vnd.vimeo.*+json;version=3.4",
                    }
                }).then(response => response.json())
                .then((response) => {
                    textTrack = response.metadata.connections.texttracks.uri;
                })
                fetch("https://api.vimeo.com/languages?filter=texttracks", {
                    method: "GET",
                    headers: {
                        "Authorization": `bearer ${accessToken}`,
                    }
                })
                .then(response => response.json())
                .then((resp) => {
                    console.log(resp);
                })
            }

            function getSubtitleUpload() {
                fetch(`https://api.vimeo.com${textTrack}`, {
                    method: "POST",
                    headers: {
                        "Authorization": `bearer ${accessToken}`,
                        "Content-Type": "application/json",
                        "Accept": "application/vnd.vimeo.*+json;version=3.4",
                    },
                    body: {
                        "type": "subtitles",
                        "language": "en",
                        "name": "English"
                    }
                }).then(response => response.json())
                    .then((response) => {
                        console.log(response);
                    })
            }

            function getAccessToken() {
                var clientIdentifier = document.getElementById("client-identifier").value;
                var clientSecret = document.getElementById("client-secret").value;
                var config = {
                    method: "POST",
                    headers: {
                        "Authorization": `basic base64_encode(${clientIdentifier}:${clientSecret})`,
                        "Content-Type": "application/json",
                        "Accept": "application/vnd.vimeo.*+json;version=3.4",
                    },
                    body: {
                        "grant_type": "client_credentials",
                        "scope": "public"
                    }
                }
                fetch(`https://api.vimeo.com/oauth/authorize/client`, config).then(response => response.json())
                .then((resp) => {
                    console.log(resp);
                })
            }

            function parseVTT(vttText) {
                const lines = vttText.split('\n');
                let cues = [];
                let cue = null;

                lines.forEach(line => {
                    if (containsNumber(line) && line.length < 5) {
                        line = "";
                    }
                    if (line.startsWith('00:')) {
                        if (cue) cues.push(cue);
                        cue = { time: line.split(' --> '), text: '' };
                    } else if (cue && line) {
                        cue.text += line + '\n';
                    }
                });

                if (cue) {
                    cue.text = removeNumbers(cue.text); // Ensure to use updated function
                    cues.push(cue);
                }
                return cues;
            }

            function containsNumber(str) {
                return /\d/.test(str);
            }

            function removeNumbers(inputString) {
                return inputString.replace(/(\r\n\r\n)\d+(\r\n)/g, '$1$2');
            }

            function displaySubtitles(cues) {
                const subtitleElement = document.getElementById('subtitleTrack');
                subtitleElement.innerHTML = '';

                let totalDelay = 0;
                let videoStartTime = 0; // Initialize video start time

                cues.forEach(cue => {
                    const div = document.createElement('div');
                    div.innerHTML = cue.text;

                    const startTime = timeToSeconds(cue.time[0]) - videoStartTime;
                    const endTime = timeToSeconds(cue.time[1]) - videoStartTime;
                    const duration = (endTime - startTime) * 1000;

                    setTimeout(() => {
                        subtitleElement.appendChild(div);
                        setTimeout(() => div.remove(), duration);
                    }, totalDelay);

                    totalDelay += duration;
                });
            }

            function timeToSeconds(time) {
                var parts = time.split(':');
                var seconds = parseFloat(parts[2]);
                var minutes = parseInt(parts[1], 10);
                var hours = parseInt(parts[0], 10);
                return seconds + (minutes * 60) + (hours * 3600);
            }

            // Load subtitles and adjust timing when the page loads
            window.addEventListener('load', () => {
                // loadSubtitles('/Subtitles/Sub1.vtt');

                // Adjust subtitle timing based on iframe load
                const iframe = document.querySelector('iframe');
                // console.dir(iframe)
                iframe.addEventListener('load', () => {
                    videoStartTime = new Date().getTime() / 1000;
                });
            });
        </script>
    }
</body>
</html>
