@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Subtitle Editor</title>
    <link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet">
    <script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/subtitlejs/0.1.1/subtitle.js"></script>
    <style>
        #subtitleContainer {
            position: relative;
            width: 789px;
            height: 444px;
        }

        #subtitleTrack {
            position: absolute;
            bottom: 10px;
            width: 100%;
            color: white;
            background: rgba(0, 0, 0, 0.5);
            text-align: center;
            padding: 5px;
        }
    </style>
    <script src="https://player.vimeo.com/api/player.js"></script>
</head>
<body>
    <div id="subtitleContainer">
        <iframe src="https://player.vimeo.com/video/990565046?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="789" height="444" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="Test"></iframe>
        <div>
            <button onclick="getVimeoURI()">First Step</button>
        </div>
        <div id="subtitle-area">
            <div class="mt-3 subtitle-editor">
                <textarea class="subtitle-text" rows="3" cols="49"></textarea>
                <div class="time-inputs">
                    <input onchange="validateTime(event)" value="00:00:01" placeholder="00:00:01" />
                    <input onchange="validateTime(event)" value="00:00:05" placeholder="00:00:05" />
                </div>
                <button id="add-section" onclick="addSubtitleSection()">Shto</button>
            </div>
        </div>
        <div class="mt-2">
            <button onclick="removeLast()">Fshij</button>
        </div>

        <button class="mt-3" id="save-button">Save Subtitles</button>
        <button class="mt-3" onclick="activateSubtitles()">Activate Subtitles</button>
        <button class="mt-3" onclick="getURITracks()">Get Track URI</button>
    </div>
    @section scripts {
        <script>
            var accessToken = "0bdb22134b168497f1f3ba85fe2beab5";
            var subtitleUploadLink = "";
            var textTrackURI = "";
            var iframe = document.querySelector('iframe');
            var videoId = getVimeoId(iframe.src);
            // getVimeoURI();
            var player = new Vimeo.Player(iframe);
            player.setVolume(0).then(() => { });

            // player.on('play', function () {
            //     loadSubtitles('/Subtitles/Sub1.vtt');
            //     console.log('Played the video');
            // });

            player.getVideoTitle().then(function (title) { });

            function loadSubtitles(subtitleUrl) {
                fetch(subtitleUrl)
                    .then(response => response.text())
                    .then(text => {
                        var cues = parseVTT(text);
                        displaySubtitles(cues);
                    })
                    .catch((err) => {
                        console.log("error", err);
                    });
            }

            function getVimeoId(url) {
                const regex = /vimeo\.com\/video\/(\d+)/;
                const match = url.match(regex);
                return match ? match[1] : null;
            }

            function getVimeoURI() {
                fetch(`https://api.vimeo.com/videos/${videoId}`, {
                    method: "GET",
                    headers: {
                        "Authorization": `bearer ${accessToken}`,
                        "Accept": "application/vnd.vimeo.*+json;version=3.4",
                    }
                }).then(response => response.json())
                    .then((response) => {
                        textTrackURI = response.metadata.connections.texttracks.uri;
                        getSubtitleUpload(response.metadata.connections.texttracks.uri);
                    });
            }

            function getSubtitleUpload(textTrack) {
                fetch(`https://api.vimeo.com${textTrack}`, {
                    method: "POST",
                    headers: {
                        "Authorization": `bearer ${accessToken}`,
                        "Content-Type": "application/json",
                        "Accept": "application/vnd.vimeo.*+json;version=3.4",
                    },
                    body: JSON.stringify({
                        "type": "subtitles",
                        "language": "en",
                        "name": "Titrat e para"
                    })
                }).then(response => response.json())
                    .then((response) => {
                        console.log("1", response.id);
                        subtitleUploadLink = response.link;
                        encodeSubtitles(response.id, response.link);
                    });
            }

            function addSubtitleSection() {
                var subtitleArea = document.getElementById('subtitle-area');
                var oldButton = document.getElementById('add-section');

                var newDiv = document.createElement('div');
                newDiv.classList.add('mt-3', 'subtitle-editor');

                var newArea = document.createElement('textarea');
                newArea.setAttribute('rows', 3);
                newArea.setAttribute('cols', 49);
                newArea.classList.add('subtitle-text');

                var newTimeInputsDiv = document.createElement('div');
                newTimeInputsDiv.classList.add('time-inputs');

                var timeInputs = document.getElementsByClassName('time-inputs');
                var lastInputs = Array.from(timeInputs).at(-1);
                var firstInput = lastInputs.children[0];
                var lastInput = lastInputs.children[1];

                if (timeToSeconds(firstInput.value) > timeToSeconds(lastInput.value)) {
                    return;
                }
                oldButton.remove();
                var newInputFirst = document.createElement('input');
                newInputFirst.value = lastInput.value ? lastInput.value : firstInput.value;
                newInputFirst.setAttribute('placeholder', lastInput.value ? lastInput.value : firstInput.value);
                var newInputSecond = document.createElement('input');
                newInputSecond.value = lastInput.value ? lastInput.value : firstInput.value;
                newInputSecond.setAttribute('placeholder', lastInput.value ? lastInput.value : firstInput.value);

                newInputFirst.onchange = function (event) {
                    validateTime(event);
                };
                newInputSecond.onchange = function (event) {
                    validateTime(event);
                };

                newTimeInputsDiv.appendChild(newInputFirst);
                newTimeInputsDiv.appendChild(newInputSecond);

                var newButton = document.createElement('button');
                newButton.id = 'add-section';
                newButton.onclick = addSubtitleSection;
                newButton.innerText = "Shto";

                newDiv.appendChild(newArea);
                newDiv.appendChild(newTimeInputsDiv);
                newDiv.appendChild(newButton);

                subtitleArea.appendChild(newDiv);
            }

            const removeLast = () => {
                var subtitles = document.getElementsByClassName('subtitle-editor');
                var lastSubtitle = Array.from(subtitles).at(-1);
                lastSubtitle.remove();

                var newButton = document.createElement('button');
                newButton.id = 'add-section';
                newButton.onclick = addSubtitleSection;
                newButton.innerText = "Shto";

                var lastSubtitle = Array.from(subtitles).at(-1);
                lastSubtitle.appendChild(newButton);
            };

            function encodeSubtitles(id, link) {
                var subtitles = 'WEBVTT\n\n';

                var subtitleTexts = document.getElementsByClassName('subtitle-text');
                var subtitleInputDivs = document.getElementsByClassName('time-inputs');
                [...subtitleTexts].forEach((e, i) => {
                    subtitles += `${i + 1}\n`;
                    subtitles += `${subtitleInputDivs[i].children[0].value}.000 --> ${subtitleInputDivs[i].children[1].value}.000\n`;
                    subtitles += `${e.value}\n\n`;
                })
                var encodedSubtitles = encodeURIComponent(subtitles);

                saveSubtitlesToServer(subtitles, link, id);
            }

            document.getElementById('save-button').addEventListener('click', function () {
                getVimeoURI();
            });

            const validateTime = (event) => {
                const timePattern = /^([01]\d|2[0-3]):([0-5]\d):([0-5]\d)$/;
                if (!timePattern.test(event.target.value)) {
                    event.target.value = "00:00:00";
                }
            };

            const timeToSeconds = (time) => {
                const [hours, minutes, seconds] = time.split(':').map(Number);
                return hours * 3600 + minutes * 60 + seconds;
            };

            const saveSubtitlesToServer = (subtitles, link, id) => {
                fetch(link, {
                    method: "PUT",
                    headers: {
                        'Content-Type': 'text/vtt',
                        'Accept': 'application/vnd.vimeo.*+json;version=3.4'
                    },
                    body: subtitles
                }).then((response) => {
                    saveTextTrackToDb(subtitles, link, textTrackURI, id);
                    })
                    .catch((err) => {
                        console.log("err", err);
                    })
            };

            function saveTextTrackToDb(content, link, uri, id) {
                fetch(`/Home/SaveTextTrackToDb?content=${content}&link=${link}&uri=${uri}&id=${id}`, {
                    method: "POST",
                })
                .then(response => response.json())
                .then((response) => {
                    console.log("Saved to db", response);
                })
            }

            function activateSubtitles() {
                fetch(`https://api.vimeo.com/videos/990565046/texttracks`, {
                    method: "PATCH",
                    headers: {
                        "Authorization": `bearer ${accessToken}`,
                        "Content-Type": "application/json",
                        "Accept": "application/vnd.vimeo.*+json;version=3.4"
                    },
                    body: {
                        "active": true,
                    }
                })
                .then(response => response.json())
                .then((response) => {
                    console.log(response);
                })
                .catch((err) => {
                    console.log("err", err);
                })
            }

            function getURITracks() {
                fetch(`https://api.vimeo.com/videos/${videoId}/texttracks`, {
                    method: "GET",
                    headers: {
                        "Authorization": `bearer ${accessToken}`,
                        "Accept": "application/vnd.vimeo.*+json;version=3.4",
                    },
                })
                .then(response => response.json())
                .then((response) => {
                    console.log("track got", response);
                    response.data.forEach((e, i) => {
                        console.log(e);
                    })
                })
            }

        </script>
    }
</body>
</html>
